<section class="reveal">
    <h2 class="mauve">Currently Exploring</h2>

    <div class="exploring-list">
        <span class="explore-item">
            <span class="emoji">🎨</span> Figma</span>
        <span class="explore-item">
            <span class="emoji">🧠</span> AI for Product Efficiency </span>
        <span class="explore-item">
            <span class="emoji">✍🏽</span> Writing & Case Studies</span>
        <span class="explore-item">
            <span class="emoji">💻</span> Python & Best Coding Practices</span>
    </div>

</section>

<hr class="section-divider" />