/* =========================================================
   LAYOUT
   ========================================================= */

.container {
    max-width: var(--container-width);
    margin: auto;
    padding: var(--space-lg) var(--space-sm);
}

section {
    scroll-margin-top: 80px;
}