/* =========================================================
   LAYOUT
   ========================================================= */

.container {
    max-width: var(--container-width);
    margin: auto;
    padding: 2.5rem 1.5rem;
}

section {
    scroll-margin-top: 80px;
}